* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav {
  background-color: black;
  margin: 0 auto;
  width: 60%;
}
.menu_principal li {
  line-height: 35px;
}

nav > ul li {
  display: inline-block;
}
nav ul li a {
  color: beige;

  display: block;

  font-size: 16px;
  background: black;
  padding-left: 30px;
  padding-right: 30px;
  transition: 0.4s;
}
nav ul li a:hover,
nav ul li a.activar {
  color: brown;
}
nav ul li:hover > ul {
  /* top: 50px; */
  opacity: 1;
  visibility: visible;
  transition: 0.3s linear;
}

nav ul ul {
  position: absolute;

  border-top: 3px brown solid;
  opacity: 0;
  visibility: hidden;
}
nav ul ul li {
  width: 150px;
  display: list-item;
  position: relative;
  border: 1px brown solid;
  border-top: none;
}
nav ul ul li a {
  line-height: 30px;
}
nav ul ul ul {
  border-top: none;
}
nav ul ul ul li {
  position: relative;
  top: -30px;
  left: 150px;
}
