* {
  margin: 0;
  padding: 0;
}

nav {
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  background-color: black;
  border-radius: 15px 15px;
  width: 60%;
  margin: 15px auto;
}
ul {
  list-style: none;
}
ul li a {
  text-decoration: none;
}
nav > ul li {
  display: inline-block;
}
nav ul li a {
  color: beige;
  display: block;
  font-size: 16px;
  padding: 15px;
  transition: 0.4s;
  /*background: black;*/
}
nav ul li a:hover,
nav ul li a.activar {
  color: brown;
}
nav ul li:hover > ul {
  opacity: 1;
  visibility: visible;
  transition: 0.4s linear;
}

nav ul ul {
  position: absolute;
  border-top: 3px brown solid;
  opacity: 0;
  visibility: hidden;
}
nav ul ul li {
  width: 150px;
  display: list-item;
  position: relative;
  border: 1px brown solid;
  border-top: none;
}
nav ul ul li a {
  padding: 15px;
  background-color: black;
}
nav ul ul ul {
  border-top: none;
}
nav ul ul ul li {
  position: relative;
  top: -50px;
  left: 150px;
}
