body {
  margin: 0;
  background-color: #2a363b;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.title {
  text-align: center;
  color: #aaa;
}
.main-menu {
  width: 80%;
  margin: 0 auto;
  background: #ff847c;
  display: flex;
  justify-content: space-around;
  border-radius: 15px;
}
ul {
  list-style: none;
  padding-left: 0px;
}
ul li {
  /* cursor: pointer; */
}

ul li a {
  text-decoration: none;
  color: beige;
  display: block;
  font-size: 16px;
  padding: 15px;
  transition: 0.4s;
}

.main-menu > li > a {
  text-transform: uppercase;
}

nav ul li a:hover,
nav ul li a.activar {
  color: brown;
}
nav ul li:hover > ul {
  opacity: 1;
  visibility: visible;
  transition: 0.4s linear;
}

nav ul ul {
  position: absolute;
  border-top: 3px brown solid;
  opacity: 0;
  visibility: hidden;
}
nav ul ul li {
  width: 150px;
  display: list-item;
  position: relative;
  border: 1px brown solid;
  border-top: none;
}
nav ul ul li a {
  padding: 15px;
  background-color: black;
}
nav ul ul ul {
  border-top: none;
}
nav ul ul ul li {
  position: relative;
  top: -50px;
  left: 150px;
}
/* Efecto de lineas moviendose */
.main-menu > li {
  position: relative;
}
.main-menu > li > a::before,
.main-menu > li > a::after {
  content: "";
  display: block;
  position: absolute;
  width: 80%;
  height: 2px;
  background: brown;
  opacity: 0;
  visibility: hidden;
  margin: 3px 0px;
  transition: transform 1s;
}
.main-menu > li > a::before {
  top: 2rem;
  transform: translateX(-100%);
}
.main-menu > li > a::after {
  bottom: 2rem;
  transform: translateX(100%);
}
.main-menu > li > a:hover::before,
.main-menu > li > a:hover::after {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}
